
body {
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    background-color: #bad2ea !important; 
    color: #fbfcfd;
    margin: 30px !important;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.custom-disabled-radio .ant-radio-button-wrapper-disabled {
    color: #3464d5 !important;
    background-color: #c4d7f6 !important; 
    border-color: #c4c4c4 !important; 
    cursor: not-allowed; 
    font-weight: bold; 
}


.app-container{
    background-color: #bad2ea;
    color: #081621;
    display: flex;
    min-height: 90vh;   
}

 
header {
    background-color: #ffffff;
     
    padding: 20px 40px;
}

header h2 {
    color: #081621;
    font-weight: 700;
}
.condition-container {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px dotted #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    background-color: #a5abb105;  
}

 
.radio-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
    gap: 10px;  
}

 
@media only screen and (max-width: 768px) {
    .radio-group-container {
        justify-content: flex-start;  
        flex-wrap: wrap;  
    }
}



 
.card-container {
    background-color: #ffffff;
    border: none;
     
    margin: 10px auto;
     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    opacity: 0.9;
    max-height: 100%;
}


 
.dash-tabs .nav-item .nav-link {
    color: #000000;
    font-weight: 700;
     
     
}

.dash-tabs .nav-item .nav-link.active {
    border-color: #0165DA;
    color: #081621;
    font-weight: 700;
     
}

 
input, .form-control {
    background-color: #eff5fb;
    border: 1px solid #c2dbf0;
    color: #081621;
}

input::placeholder {
    color: #0165DA;
}

 
button, .btn {
    border-radius: 4px;
    font-weight: 700;
}

.font-weight-bold {
    font-weight: 500;
}

.btn-primary {
    background-color: #0165DA;
    color: #eff5fb;
    border-radius: 5px;
    height: 40px;
    font-size: small;
}

.btn-secondary {
    background-color: #dae9f6;
    color: #081621;
}

.custom-trash-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
}

.custom-trash-button:hover {
    color: #5c636a;   
    background-color: transparent;  
}
.custom-separator {
    margin-left: 20px;  
}

/* Hide scrollbar for Chrome, Safari and Opera 
::-webkit-scrollbar {
    display: none;
}
*/
