/* Body and Font Setup */
body {
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    background-color: #bad2ea !important; /* Light blue background */
    color: #fbfcfd;
    margin: 70px !important;
    padding: 0;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    background-color: #ffffff;
    /* border-bottom: 1px solid #dae9f6; */
    padding: 20px 40px;
}

header h2 {
    color: #081621;
    font-weight: 700;
}

/* Card Background */
.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 8px;
}

/* Tabs */
.dash-tabs .nav-item .nav-link {
    color: #2d77b4;
    /* justify-content: center; */
}

.dash-tabs .nav-item .nav-link.active {
    border-color: #008cff;
    color: #081621;
    /* justify-content: center; */
}

/* Input Fields */
input, .form-control {
    background-color: #eff5fb;
    border: 1px solid #c2dbf0;
    color: #081621;
}

input::placeholder {
    color: #2d77b4;
}

/* Buttons */
button, .btn {
    border-radius: 4px;
    font-weight: 700;
}

.btn-primary {
    background-color: #008cff;
    color: #eff5fb;
    border-radius: 5px;
    height: 40px;
    font-size: small;
}

.btn-secondary {
    background-color: #dae9f6;
    color: #081621;
}

.custom-trash-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
}

.custom-trash-button:hover {
    color: #5c636a;  /* Adjust the color as desired */
    background-color: transparent; /* Ensures the background stays transparent */
}
.custom-separator {
    margin-left: 20px; /* Add space between groups */
}

/* @keyframes loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
  
  .shadow-loading {
    animation: loading 1.5s infinite;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200px 100%;
    border-radius: 4px;
  }
  
  .loading-placeholder {
    height: 20px;
    margin: 10px 0;
  } */
  